<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "POST, GET, DELETE, PUT, PATCH, OPTIONS"
    Header set Access-Control-Allow-Headers "*"
    Header set Content-Length "0"
    Header set Content-Type "text/plain"
</IfModule>
